
*{
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.wrapper{
    padding-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@import 'cuckoo';